<a href="https://colab.research.google.com/github/mmmarcelom/extenso-para-numero/blob/main/Desafio_da_Disciplina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DESAFIO DA DISCIPLINA

#### Contexto - Problema: Você foi designado para fazer o tratamento dos dados de um formulário na empresa em que trabalha. O campo salário do formulário, que deveria ser númerico, não está padronizado corretamente, tem numeros escritos por extenso. Seu trabalho é criar uma lib que receba um numero escrito por extenso e converta em valor numérico. 

#### Exemplos: 

##### Entrada: Mil duzentos e cinquenta ---- Saída: 1250

##### Entrada: 1k ---- Saída: 1000

##### Entrada: 1.3k ---- Saída: 1300

from wordtocurrency import WordToCurrency

print(WordToCurrency().word_to_float('DOIS milhões e cento e um mil e cento e cinquenta e seis'))  
print(WordToCurrency().word_to_float('cento e um mil e cento e cinquenta e seis'))  
print(WordToCurrency().word_to_float('dois mil e cento e cinquenta e seis'))   
print(WordToCurrency().word_to_float('70.000,00	'))  
print(WordToCurrency().word_to_float('2.5k'))  
print(WordToCurrency().word_to_float('2,9k'))  
print(WordToCurrency().word_to_float('trinta k'))  
print(WordToCurrency().word_to_float('25 mil'))  
print(WordToCurrency().word_to_float('102 mil e 80'))  
print(WordToCurrency().word_to_float('10 M'))  

Log:  
2101156.0  
101156.0  
2156.0  
70000.0  
25000.0  
2900.0  
30000.0  
25000.0  
102080.0  
10000000.0

In [ ]:
import re

testes1 = [
  'cento e cinquenta e seis milhões e cento e um mil e cento e cinquenta e seis',
  'DOIS milhões e cento e um mil e cento e cinquenta e seis',
  'cento e um mil e cento e cinquenta e seis',
  'dois mil e cento e cinquenta e seis',
  '70.000,00	',
  '2.5k',
  '2,9k',
  'trinta k',
  '25 mil',
  '102 mil e 80',
  '10 M',
]

In [ ]:
testes2 = {
'nove' : 9, 
'vinte e quatro' : 24, 
'cinquenta e dois' : 52, 
'vinte e quatro' : 24, 
'cinquenta e oito' : 58, 
'vinte e dois' : 22, 
'oitenta e oito' : 88, 
'oitenta e seis' : 86, 
'cinco' : 5, 
'quarenta e cinco' : 45, 
'setenta e oito' : 78, 
'oitenta e um' : 81, 
'vinte e quatro' : 24, 
'sessenta e seis' : 66, 
'sessenta e quatro' : 64, 
'noventa e sete' : 97, 
'vinte e um' : 21, 
'quarenta e três' : 43, 
'trezentos e oitenta' : 380, 
'seiscentos e noventa e sete' : 697, 
'sessenta e cinco' : 65, 
'trezentos e dezenove' : 319, 
'oitocentos e quarenta e oito' : 848, 
'quatorze' : 14, 
'novecentos e setenta e quatro' : 974, 
'duzentos e onze' : 211, 
'quinhentos e vinte' : 520, 
'quatrocentos e oito' : 408, 
'novecentos e sessenta e seis' : 966, 
'quinhentos e trinta e dois' : 532, 
'quinhentos e setenta e quatro' : 574, 
'setecentos e trinta e dois' : 732, 
'trezentos e vinte e cinco' : 325, 
'setecentos e vinte e oito' : 728, 
'setenta e sete' : 77, 
'seiscentos e trinta' : 630, 
'setenta e cinco' : 75, 
'setecentos e três' : 703, 
'novecentos e quarenta e dois' : 942, 
'setecentos e sessenta e um mil, duzentos e vinte e oito' : 761228, 
'vinte e cinco mil e setenta e três' : 25073, 
'setecentos e sete mil, novecentos e noventa e três' : 707993, 
'setecentos e sete mil, novecentos e cinquenta e seis' : 707956, 
'duzentos e noventa e cinco mil, quatrocentos e três' : 295403, 
'quatrocentos e vinte e cinco mil, oitocentos e setenta e três' : 425873, 
'quatrocentos e quarenta e cinco mil, setecentos e quatro' : 445704, 
'duzentos e noventa e um mil, seiscentos e sessenta e sete' : 291667, 
'cento e quatro mil, quatrocentos e setenta e cinco' : 104475, 
'setecentos e noventa e sete mil e oitenta e três' : 797083, 
'trezentos e setenta e nove mil, trezentos' : 379300, 
'quatrocentos e cinquenta e seis mil, duzentos e oitenta e três' : 456283, 
'trinta e cinco mil, oitocentos e dez' : 35810, 
'setecentos e oitenta e nove mil, cento e seis' : 789106, 
'duzentos e vinte mil, oitocentos e cinquenta e cinco' : 220855, 
'cento e sete mil, setecentos e dezesseis' : 107716, 
'novecentos e trinta mil, oitocentos e sessenta e dois' : 930862, 
'quinhentos e cinquenta e três mil, cento e setenta e cinco' : 553175, 
'quinhentos e trinta e três mil, cento e trinta e seis' : 533136, 
'duzentos e oitenta e nove mil e vinte e dois' : 289022, 
'oitocentos e noventa mil, quatrocentos e noventa e três' : 890493, 
'cento e vinte e oito mil, cento e vinte e cinco' : 128125, 
'cento e dezenove mil, quatrocentos e oitenta e nove' : 119489, 
'seiscentos e quarenta e sete mil, oitocentos e trinta e sete' : 647837, 
'duzentos e oitenta e quatro mil, seiscentos e doze' : 284612, 
'quatrocentos e oitenta e um mil, oitocentos e setenta' : 481870, 
'duzentos e noventa e dois mil, seiscentos e treze' : 292613, 
'seiscentos e quarenta e nove mil, seiscentos e cinquenta e três' : 649653, 
'oitocentos e setenta e quatro mil, duzentos e quatorze' : 874214, 
'setecentos e trinta e nove mil, seiscentos e vinte e sete' : 739627, 
'oitenta e nove mil, trezentos e cinquenta e um' : 89351, 
'novecentos e noventa e três mil, seiscentos e setenta e oito' : 993678, 
'seiscentos e três mil, setecentos e oitenta e três' : 603783, 
'novecentos e quatro mil, seiscentos e oitenta e dois' : 904682, 
'duzentos e noventa e seis mil, oitocentos e vinte e cinco' : 296825, 
'trezentos e oitenta mil, trezentos e sessenta e sete' : 380367, 
'novecentos e oitenta e quatro mil, oitocentos e doze' : 984812, 
'trezentos e um mil, duzentos e quatro' : 301204, 
'quinhentos e quarenta e oito mil, oitocentos e noventa e um' : 548891, 
'oitocentos e noventa e cinco milhões, cento e trinta mil, novecentos e vinte e um' : 895130921, 
'setecentos e cinquenta e sete milhões, novecentos e quarenta e seis mil, cento e um' : 757946101, 
'duzentos e trinta e dois milhões, quatrocentos e onze mil, seiscentos e setenta e cinco' : 232411675, 
'quatrocentos e oito milhões, duzentos e oito mil, quatrocentos e trinta e seis' : 408208436, 
'cento e cinquenta e nove milhões, cento e noventa e três mil e sessenta e sete' : 159193067, 
'trezentos e trinta milhões, setecentos e noventa e quatro mil, duzentos e noventa e oito' : 330794298, 
'noventa e dois milhões, quatrocentos e setenta e cinco mil, novecentos e setenta e cinco' : 92475975, 
'quarenta e quatro milhões, trezentos e setenta mil, setecentos e setenta e um' : 44370771, 
'trezentos e quatro milhões, seiscentos e dois mil, quinhentos e cinquenta e sete' : 304602557, 
'duzentos e setenta milhões, quinhentos e sessenta e quatro mil, setecentos e setenta e nove' : 270564779, 
'dois milhões, oitocentos e oitenta e quatro mil e noventa e cinco' : 2884095, 
'quinhentos e noventa e cinco milhões, duzentos e trinta e um mil, seiscentos e quarenta e três' : 595231643, 
'setecentos e trinta e sete milhões, oitocentos e oitenta e cinco mil, quatrocentos e cinquenta e cinco' : 737885455, 
'novecentos e sessenta e dois milhões, setecentos e cinquenta e sete mil, duzentos e noventa e cinco' : 962757295, 
'oitocentos e dez milhões, novecentos e sessenta e sete mil, oitocentos e cinquenta' : 810967850, 
'seiscentos e quarenta e dois milhões, novecentos mil, setecentos e sessenta e quatro' : 642900764, 
'trezentos e vinte e três milhões, oitocentos e dez mil, cento e oitenta' : 323810180, 
'novecentos e trinta e um milhões, trezentos e cinco mil, novecentos e quinze' : 931305915, 
'cinquenta e quatro milhões, cinquenta e três mil, cento e quarenta e três' : 54053143, 
'seiscentos e quatorze milhões, oitocentos e dezoito mil, cento e doze' : 614818112, 
'trezentos e sessenta e cinco milhões, onze mil, quatrocentos e trinta e seis' : 365011436
}

len(testes2)

97

In [ ]:
def limpar(texto):

  palavra = texto.lower()

  regex_acentos = '[áàâãéèêíïóôõöúüçñ]'

  if not re.search(regex_acentos, palavra) == None:
    
    regex_limpeza = {
        'a':'[áàâã]',
        'e':'[éèê]',
        'i':'[íï]',
        'o':'[óôõö]',
        'u':'[úü]',
        'c':'[ç]',
        'n':'[ñ]'
    }
    
    for vogal in regex_limpeza.keys():
      palavra = re.sub(regex_limpeza[vogal], vogal, palavra)

  palavra = palavra.replace(' e ', ' ').replace(',', ' ')
  return palavra

# TESTE
#print(limpar('Dois milhões'))

In [ ]:
def separar(texto):
  
  pattern = '(mil |milhao |milhoes |bilhao |bilhoes )'
  palavras = []
  for palavra in re.split(pattern, texto):
    palavras.append(palavra.strip())

  return palavras

#palavras = separar(limpar(frases[0]))
#palavras

In [ ]:
from pickle import FALSE
def converter(numero_extenso, explicacao=False):

  algarismos = {
      'um': 1,
      'dois': 2,
      'tres': 3,
      'quatro': 4,
      'cinco': 5,
      'seis': 6,
      'sete': 7,
      'oito': 8,
      'nove': 9,
      'dez': 10,
      'onze': 11,
      'doze': 12,
      'treze': 13,
      'quatorze': 14,
      'quinze': 15,
      'dezesseis': 16,
      'dezessete': 17,
      'dezoito': 18,
      'dezenove': 19,
      'vinte': 20,
      'trinta': 30,
      'quarenta': 40,
      'cinquenta': 50,
      'sessenta': 60,
      'setenta': 70,
      'oitenta': 80,
      'noventa': 90,
      'cem': 100,
      'cento': 100,
      'duzentos': 200,
      'trezentos': 300,
      'quatrocentos': 400,
      'quinhentos': 500,
      'seiscentos': 600,
      'setecentos': 700,
      'oitocentos': 800,
      'novecentos': 900,
  }
  
  multiplicadores = {
      'mil': 1000,
      'milhao': 1000000,
      'milhoes': 1000000,
      'bilhao': 1000000000,
      'bilhoes': 1000000000
  }
  
  grandezas = separar(limpar(numero_extenso))
  numero = 0
  valor = 0

  for grandeza in grandezas:
    palavras = grandeza.split()

    for palavra in palavras:

      if explicacao: print(f'Palavra atual: {palavra}')
      if explicacao: print(f'Valor: {valor} + {palavra}\n')
      
      if palavra in algarismos: 
        valor += algarismos[palavra]
        continue
      
      if palavra in multiplicadores:
        valor *= multiplicadores[palavra]
        if explicacao: print(f'Valor: {valor}')
        
        if explicacao: print(f'--------------------------')  
        if explicacao: print(f'{numero} + {valor}')
        numero += valor
        valor = 0
      
      if explicacao: print(f'--------------------------\n')  
  
  numero += valor
  return numero

# TESTE
print('DOIS milhões e cento e um mil e cento e cinquenta e seis')
print(converter('DOIS milhões e cento e um mil e cento e cinquenta e seis', True))

DOIS milhões e cento e um mil e cento e cinquenta e seis
Palavra atual: dois
Valor: 0 + dois

Palavra atual: milhoes
Valor: 2 + milhoes

Valor: 2000000
--------------------------
0 + 2000000
--------------------------

Palavra atual: cento
Valor: 0 + cento

Palavra atual: um
Valor: 100 + um

Palavra atual: mil
Valor: 101 + mil

Valor: 101000
--------------------------
2000000 + 101000
--------------------------

Palavra atual: cento
Valor: 0 + cento

Palavra atual: cinquenta
Valor: 100 + cinquenta

Palavra atual: seis
Valor: 150 + seis

2101156

In [ ]:
contador = 0
for numero in testes2:
  if testes2[numero] == converter(numero, False): contador +=1
  print(testes2[numero] == converter(numero, False), testes2[numero], numero)

print('------------------------------------')
print(f'Nº de testes: { len(testes2) }')
print(f'SUCESSO: { contador }')
print(f'FALHAS: { len(testes2.keys()) - contador }')
print('------------------------------------')

True 9 nove
True 24 vinte e quatro
True 52 cinquenta e dois
True 58 cinquenta e oito
True 22 vinte e dois
True 88 oitenta e oito
True 86 oitenta e seis
True 5 cinco
True 45 quarenta e cinco
True 78 setenta e oito
True 81 oitenta e um
True 66 sessenta e seis
True 64 sessenta e quatro
True 97 noventa e sete
True 21 vinte e um
True 43 quarenta e três
True 380 trezentos e oitenta
True 697 seiscentos e noventa e sete
True 65 sessenta e cinco
True 319 trezentos e dezenove
True 848 oitocentos e quarenta e oito
True 14 quatorze
True 974 novecentos e setenta e quatro
True 211 duzentos e onze
True 520 quinhentos e vinte
True 408 quatrocentos e oito
True 966 novecentos e sessenta e seis
True 532 quinhentos e trinta e dois
True 574 quinhentos e setenta e quatro
True 732 setecentos e trinta e dois
True 325 trezentos e vinte e cinco
True 728 setecentos e vinte e oito
True 77 setenta e sete
True 630 seiscentos e trinta
True 75 setenta e cinco
True 703 setecentos e três
True 942 novecentos e quarenta e dois
True 761228 setecentos e sessenta e um mil, duzentos e vinte e oito
True 25073 vinte e cinco mil e setenta e três
True 707993 setecentos e sete mil, novecentos e noventa e três
True 707956 setecentos e sete mil, novecentos e cinquenta e seis
True 295403 duzentos e noventa e cinco mil, quatrocentos e três
True 425873 quatrocentos e vinte e cinco mil, oitocentos e setenta e três
True 445704 quatrocentos e quarenta e cinco mil, setecentos e quatro
True 291667 duzentos e noventa e um mil, seiscentos e sessenta e sete
True 104475 cento e quatro mil, quatrocentos e setenta e cinco
True 797083 setecentos e noventa e sete mil e oitenta e três
True 379300 trezentos e setenta e nove mil, trezentos
True 456283 quatrocentos e cinquenta e seis mil, duzentos e oitenta e três
True 35810 trinta e cinco mil, oitocentos e dez
True 789106 setecentos e oitenta e nove mil, cento e seis
True 220855 duzentos e vinte mil, oitocentos e cinquenta e cinco
True 107716 cento e sete mil, setecentos e dezesseis
True 930862 novecentos e trinta mil, oitocentos e sessenta e dois
True 553175 quinhentos e cinquenta e três mil, cento e setenta e cinco
True 533136 quinhentos e trinta e três mil, cento e trinta e seis
True 289022 duzentos e oitenta e nove mil e vinte e dois
True 890493 oitocentos e noventa mil, quatrocentos e noventa e três
True 128125 cento e vinte e oito mil, cento e vinte e cinco
True 119489 cento e dezenove mil, quatrocentos e oitenta e nove
True 647837 seiscentos e quarenta e sete mil, oitocentos e trinta e sete
True 284612 duzentos e oitenta e quatro mil, seiscentos e doze
True 481870 quatrocentos e oitenta e um mil, oitocentos e setenta
True 292613 duzentos e noventa e dois mil, seiscentos e treze
True 649653 seiscentos e quarenta e nove mil, seiscentos e cinquenta e três
True 874214 oitocentos e setenta e quatro mil, duzentos e quatorze
True 739627 setecentos e trinta e nove mil, seiscentos e vinte e sete
True 89351 oitenta e nove mil, trezentos e cinquenta e um
True 993678 novecentos e noventa e três mil, seiscentos e setenta e oito
True 603783 seiscentos e três mil, setecentos e oitenta e três
True 904682 novecentos e quatro mil, seiscentos e oitenta e dois
True 296825 duzentos e noventa e seis mil, oitocentos e vinte e cinco
True 380367 trezentos e oitenta mil, trezentos e sessenta e sete
True 984812 novecentos e oitenta e quatro mil, oitocentos e doze
True 301204 trezentos e um mil, duzentos e quatro
True 548891 quinhentos e quarenta e oito mil, oitocentos e noventa e um
True 895130921 oitocentos e noventa e cinco milhões, cento e trinta mil, novecentos e vinte e um
True 757946101 setecentos e cinquenta e sete milhões, novecentos e quarenta e seis mil, cento e um
True 232411675 duzentos e trinta e dois milhões, quatrocentos e onze mil, seiscentos e setenta e cinco
True 408208436 quatrocentos e oito milhões, duzentos e oito mil, quatrocentos e trinta e seis
True 159193067 cento e cinquenta e nove milhões, cento e noventa e três mil e sessenta e sete
True 330794298 trezentos e trinta milhões, setecentos e noventa e quatro mil, duzentos e noventa e oito
True 92475975 noventa e dois milhões, quatrocentos e setenta e cinco mil, novecentos e setenta e cinco
True 44370771 quarenta e quatro milhões, trezentos e setenta mil, setecentos e setenta e um
True 304602557 trezentos e quatro milhões, seiscentos e dois mil, quinhentos e cinquenta e sete
True 270564779 duzentos e setenta milhões, quinhentos e sessenta e quatro mil, setecentos e setenta e nove
True 2884095 dois milhões, oitocentos e oitenta e quatro mil e noventa e cinco
True 595231643 quinhentos e noventa e cinco milhões, duzentos e trinta e um mil, seiscentos e quarenta e três
True 737885455 setecentos e trinta e sete milhões, oitocentos e oitenta e cinco mil, quatrocentos e cinquenta e cinco
True 962757295 novecentos e sessenta e dois milhões, setecentos e cinquenta e sete mil, duzentos e noventa e cinco
True 810967850 oitocentos e dez milhões, novecentos e sessenta e sete mil, oitocentos e cinquenta
True 642900764 seiscentos e quarenta e dois milhões, novecentos mil, setecentos e sessenta e quatro
True 323810180 trezentos e vinte e três milhões, oitocentos e dez mil, cento e oitenta
True 931305915 novecentos e trinta e um milhões, trezentos e cinco mil, novecentos e quinze
True 54053143 cinquenta e quatro milhões, cinquenta e três mil, cento e quarenta e três
True 614818112 seiscentos e quatorze milhões, oitocentos e dezoito mil, cento e doze
True 365011436 trezentos e sessenta e cinco milhões, onze mil, quatrocentos e trinta e seis
------------------------------------
Nº de testes: 97
SUCESSO: 97
FALHAS: 0
------------------------------------